@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}
.textWhite:hover p {
	color: white !important;
	text: white !important;
}
.textYellow {
	color: yellow !important;
	text: yellow !important;
}
