@tailwind base;
@tailwind components;
@tailwind utilities;

.textWhite:hover p {
	color: white !important;
	text: white !important;
}
.textYellow {
	color: yellow !important;
	text: yellow !important;
}
